.container {
  display: flex;
  flex-direction: column;
  margin-left: var(--outer-margin);
  margin-right: var(--outer-margin);

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;

    li {
      display: flex;
      flex-direction: column;
      flex: 0 0 33.33333%;

      h2 {
        font-size: 1rem;
        text-transform: uppercase;
        flex: 0 0;
        margin-bottom: 1rem;
      }

      .image {
        flex: 1 1 auto;
      }

      .picture {
        object-fit: contain;
      }
    }
  }
}