.container {
  position: relative;
  display: flex;
  flex-direction: column;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    height: calc(var(--body-height) - calc(var(--space) *2));
    margin-left: var(--outer-margin);
    margin-right: var(--outer-margin);

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 0 0 33.33333%;
      height: 50%;
      margin-bottom: var(--space);
      transition: opacity ease-in-out 1000ms;
      cursor: pointer;

      &.active {
        opacity: 1;
      }

      &.inactive {
        opacity: 0;
      }

      h2 {
        font-size: 1rem;
        text-transform: uppercase;
        flex: 0 0;
        margin-bottom: 1rem;
      }

      .image {
        flex: 1 1 auto;
      }

      .picture,
      img[role="presentation"] {
        object-fit: contain;
        max-height: 50%;
        transition: all;
      }
    }
  }

  img[role="presentation"] {
    left: 0% !important;
    top: 0% !important;
    width: 100% !important;
    height: 100% !important;
  }
}

.gallery {
  position: absolute;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: var(--z-overlay);
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100vh;
  height: 100vh;
  opacity: 0;
  transition: opacity ease-in-out 700ms;
  pointer-events: none;

  &.visible {
    opacity: 1;
    pointer-events: all;
  }

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: var(--navbar-height);
    padding-left: var(--outer-margin);
    padding-right: var(--outer-margin);

    span {
      flex: 0 0 50%;
    }

    .close {
      cursor: pointer;
      text-align: right;
    }
  }

  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    cursor: pointer;

    &.visible {
      visibility: visible;
    }

    &.invisible {
      visibility: hidden;
    }

    .image {
      height: calc(var(--body-height) - var(--navbar-height));
    }

    .picture,
    img[role="presentation"] {
      object-fit: contain;
      height: calc(var(--body-height) - var(--navbar-height));
    }

    figcaption {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
      justify-content: center;
      padding-left: var(--outer-margin);
      height: var(--navbar-height);
    }
  }
}