.container {
  position: relative;
  display: flex;
  flex-direction: column;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    height: calc(var(--body-height) - calc(var(--space) *2));
    margin-left: var(--outer-margin);
    margin-right: var(--outer-margin);

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 0 0 33.33333%;
      height: 50%;
      margin-bottom: var(--space);
      cursor: pointer;

      h2 {
        font-size: 1rem;
        text-transform: uppercase;
        flex: 0 0;
        margin-bottom: 1rem;
      }

      .image {
        flex: 1 1 auto;
      }

      .picture,
      img[role="presentation"] {
        object-fit: contain;
        max-height: 50%;

        &.active {
          opacity: 1;

        }

        &.inactive {
          opacity: 0.2 !important;
        }
      }
    }
  }

  figure {
    position: absolute;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: var(--body-height);
    height: var(--body-height);
    visibility: hidden;

    &.visible {
      visibility: visible;
    }

    &.invisible {
      visibility: hidden;
    }


    .image {
      height: calc(var(--body-height) - var(--navbar-height));
    }

    .picture,
    img[role="presentation"] {
      object-fit: contain;
      height: calc(var(--body-height) - var(--navbar-height));
    }

    figcaption {
      display: flex;
      align-items: center;
      margin-left: var(--outer-margin);
      height: var(--navbar-height);
    }
  }

  img[role="presentation"] {
    left: 0% !important;
    top: 0% !important;
    width: 100% !important;
    height: 100% !important;
  }
}