.next {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding-top: var(--navbar-height);
  z-index: var(--z-next);
  margin-right: var(--outer-margin);
  transition: opacity 0.3s ease-in-out;
  opacity: 1;

  &.hide {
    opacity: 0;
    pointer-events: none;
  }
}