.loading,
.background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  max-width: 100% !important;
  opacity: 1;

  .picture {
    object-fit: cover;
    width: 100% !important;
    height: 100% !important;
  }
}

.loading {
  opacity: 1;
  z-index: var(--z-overlay);
  transition: opacity 0.8s ease-out;
  animation: hide 0.5s ease-in-out 3s forwards;
  pointer-events: none;
  clip-path: inset(0 0 0 0);
  margin-top: calc(-1 * var(--navbar-height));

  @keyframes hide {
    to {
      clip-path: inset(0 0 0 100vw);
    }
  }
}

.background {
  position: absolute !important;
  z-index: var(--z-background-intro);
  top: 0;
  left: 0;
  opacity: 0.5;
}