.loading,
.background {
  position: fixed !important;
  top: 0;
  left: 0;
  opacity: 1;
  height: 100vh;
  width: 100%;
  max-width: 100% !important;

  .picture {
    object-fit: cover;
    width: 100% !important;
    height: 100% !important;
  }
}

.loading {
  opacity: 1;
  transition: opacity 0.8s ease-out;
  animation: hide 0.5s ease-in-out 3.5s forwards;
  clip-path: inset(0 0 0 0);
  z-index: var(--z-intro-foreground);

  .placeholder {
    z-index: var(--z-intro-foreground);
  }

  @keyframes hide {
    to {
      clip-path: inset(0 0 0 100vw);
    }
  }
}

.background {
  z-index: var(--z-intro-background);
  top: 0;
  left: 0;
  opacity: 1;
}