.nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: var(--z-gallery-nav);
  padding-right: var(--outer-margin);
  padding-left: var(--outer-margin);

  opacity: 1;
  pointer-events: none;
  height: 100%;

  .next,
  .prev {

    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    height: 100%;
    max-width: 30%;
    width: 30%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: all;
    cursor: pointer;

    &.show {
      opacity: 1;
    }
  }

  .prev {
    left: var(--outer-margin);
  }

  .next {
    right: var(--outer-margin);
    justify-content: flex-end;
  }

  @include mq($until: tablet) {
    display: none;
  }
}