.menu {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  top: 0;
  left: 0;
  padding: var(--outer-margin);
  z-index: var(--z-menu);

  @include mq($until: desktop) {
    display: none;
  }

  a {
    flex: 1 1 auto;

    &.logo {
      text-align: center;
      font-weight: bold;
    }

    &:nth-child(3) {
      text-align: right;
    }
  }
}