.menu {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 1;
  z-index: var(--z-menu);
  height: var(--navbar-height);
  padding-left: var(--outer-margin);
  padding-right: var(--outer-margin);


  a {
    flex: 1 1 auto;

    &.logo {
      text-align: center;
      font-weight: bold;
    }

    &:nth-child(3) {
      text-align: right;
    }
  }
}