@use 'mediaqueries' as *;

html,
body {
	font-weight: normal;
	font-size: 16px;

	@include mq($from: tablet) {
		font-size: 17px;
	}

	@include mq($from: semi-wide) {
		font-size: 23px;
	}

	@include mq($from: wide) {
		font-size: 25px;
	}
}

h2 {
	font-weight: normal;
}

.track,
h2 {
	letter-spacing: 0.05em;
}
